<div class="container">
  <h2 class="text-white">New BookMark</h2>
</div>
<div class="container text-white">
  <%= simple_form_for([@list, @bookmark]) do |f| %>
    <%= f.input :comment %>
    <%= f.association :movie %>
    <%= f.submit class: 'btn btn-sm btn-success' %>
  <% end %>
  <%= link_to 'back', list_path(@list), class: "btn btn-sm btn-primary my-3" %>
</div>
